<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
	<gui>true</gui>
	<horizon>1</horizon>
	<samples>2000</samples>
	<discount>1.0</discount>
	<system>u_m</system>
        <domain>domains\zeno-experiment\exercise-zeno.xml</domain>
	<user>u_u</user>
	<discretisation>50</discretisation>
	<recording>last</recording>
	<timeout>250</timeout>
        <!--modules>uk.ac.shef.zeno.exercise.ButtonWizard, uk.ac.shef.zeno.exercise.ToRobot</modules-->
        <modules>uk.ac.shef.zeno.wozdialog.ButtonWizard, uk.ac.shef.zeno.wozdialog.ToRobot</modules>
        
</settings>
